@charset "UTF-8";

.am-sheet {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}

.am-sheet-container {
    background: #31373e;
    width: 100%;
    border-top: 1px solid #000;
    padding-bottom: 15px;
}

.am-sheet-header, .am-sheet-content, .am-sheet-footer {
    margin: 0 10px;
}

.am-sheet-header {
    color: #666;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.am-sheet-button {
    margin-top: 15px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 #424851;
}

.am-sheet-cancel {
    margin-top: 20px;
    border: 1px #000 solid;
    color: #D3D3D2;
    text-shadow: none;
    background: #292b38;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3d4257), to(#292b38));
    background-image: linear-gradient(#3d4257, #292b38);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 #424851;
}